.product{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 150px;
    height: 250px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}