.supers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imageclass{
border-radius: 10px;
display: flex;
flex-direction: column;
}
  .superscheck{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .superscheck {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  